<div class="job-item" >
    <div class="job-info" appMyJobDirective>
        <span class="job-label">🔰Job Name:</span>
        <h2 class="job-value">{{job.jobName}}</h2>
    </div>
    <div class="job-info" >
        <span class="job-label">🎓Job Profession:</span>
        <p class="job-value">{{job.profession}}</p>
    </div>
    <div class="job-info">
        <span class="job-label">🕓Hours in Week:</span>
        <p class="job-value">{{job.hours}}</p>
    </div>
    <div class="job-info">
        <span class="job-label">🏡From Home?</span>
        <p class="job-value">{{job.fromHome}}</p>
    </div>
    <div class="job-info">
        <span class="job-label">🚙Where?</span>
        <p class="job-value">{{job.area}}</p>
    </div>
     <div class="job-info">
        <span class="job-label" *ngIf="isShowDetail"> 📃requirements:</span>
        <p class="job-value" *ngIf="isShowDetail"> {{job.requirements}}</p>
    </div>
    <div class="job-buttons">
    <button (click)="showDetails()" >{{btn}}</button><br>
    <button  (click)="addCV()"*ngIf="!isCVSent">Apply CV</button>
    <!-- <input type="file"  (click)="addCV()"*ngIf="!isCVSent" placeholder="Apply CV"> -->
    <button (click)="addCV()" *ngIf="isCVSent" disabled="true">Apply CV</button>
    </div>
</div>

